body{
    font-family: 'Roboto', sans-serif;
    color:#2e2f42;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.logo{
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}
.logo-part{
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color:#4d5ae5;
}
.header-list{
    width: 261px;
    height: 24px;
}
.header-list-item{
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #2e2f42;}

.adress-item{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
.mail{
    width: 153px;
    height: 24px;
}
.tel{
    width: 151px;
    height: 24px;
}